* {
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: purple;
    --color-secondary: rgb(56, 6, 56);
}

body {
    background-color: var(--color-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.columna img:hover {
    transform: perspective(500px) rotateY(180deg);
}

.columna {
    display: flex;
    height: 80%;
    border-radius: 10px;
    justify-content: center;
    z-index: 2;
    font-size: 20px;
    align-items: center;
    cursor: pointer;
    margin: 1%;
    flex: 1;
    padding: 1%;
    text-align: center;
}

.columnas {
    width: 80vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.logo {
    text-align: center;
    padding: 0.2%;
}

#computador img {
    position: fixed;
    right: 0;        
    top: 0; 
    cursor: pointer;
    width: 10vw;
    height: 20vh;
}

#justo > img {
    width: 80%;
}

#muriel > img, #coraje > img {
    width: 65%;
}

p {
    display: none;
}

#computador {
    background-image: url(computador-pantalla.png);
    height: 500px;
    width: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor {
    display: flex;
    position: absolute;
    height: 10vh;
    width: 50vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    bottom: 10px;
}

.opcion-1, .opcion-2 {
    height: 10vh;
    width: 50vw;
    background-color: rgb(67, 176, 135);
    margin: 10px;
    border-radius: 10px;
    border: 3px solid rgb(56, 56, 56);
    padding-top: 10px;
    font-family: 'Orbitron';
    color:rgb(230, 221, 94);
    cursor: pointer;
}

.opcion-1:hover, .opcion-2:hover {
    background-color: rgb(76, 202, 154);
    border: 3px solid rgb(129, 129, 129);
    color:rgb(212, 202, 62);
}

.volver {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    z-index: 9999;
    height: 100vh;
}

#pantalla {
    font-family: 'Orbitron';
    color:rgb(230, 221, 94);
    height: 70%;
    width: 80%;
    text-align: center;
    font-size: 30px;
    line-height: 2.5;
}