* {
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: purple;
    --color-secondary: rgb(56, 6, 56);
}

body {
    background-color: var(--color-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contenedor {
    display: flex;
    flex-direction: column; /* Cambia a columna para apilar elementos verticalmente */
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    margin-top: 10px;
}

.tarjeta {
    position: relative;
    cursor: pointer;
    transform: translateX(-30px) translateY(-80px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.tarjeta .izquierda {
    background-color: var(--color-secondary);
    transform: perspective(500px) rotateY(0deg);
}

.tarjeta .derecha {
    background-color: var(--color-secondary);
    transform: perspective(500px) rotateY(180deg);
}

.tarjeta:hover .izquierda {
    transform: perspective(500px) rotateY(180deg);
}

.tarjeta:hover .derecha {
    transform: perspective(500px) rotateY(360deg);
}

.columna {
    width: 240px;
    height: 250px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    z-index: 2;
    font-size: 20px;
    margin-top: 50px;
    /*
    box-shadow: 10px 0px 15px rgba(0,0,0,0.5), 
                0px 10px 15px rgba(0,0,0,0.5); */
}

.columnas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#columna-2 {
    height: 50vh;
}

#columna-2, #columna-3 {
    margin-left: 120px;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

#computador {
    position: absolute;
    right: 0;        
    top: 0; 
    z-index: 3;
    cursor: pointer;
}
